@font-face {
  font-family: "romeo";
  src: url("./fonts/proxima-nova-soft.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "romeo" !important;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7 !important;
  font-display: swap !important;
}

/* html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100% !important;
} */