.nav {
    height: 60px;
    padding: 20px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    /* margin: 5px 15px; */
    margin: 5px 30px;
}

@media only screen and (max-width: 850px) {
    .nav a {
        font-size: 95%;
    }
}

@media only screen and (max-width: 750px) {
    .nav a {
        font-size: 90%;
    }
}

@media only screen and (max-width: 650px) {
    .nav a {
        font-size: 85%;
    }
}


 